<section class="container">
  <h1 class="large text-primary">Sign Up</h1>
  <p class="lead"><i class="fas fa-user"></i> Create Your Account</p>
  <form class="form" (ngSubmit)="registerSubmit()">
    <div class="form-group">
      <input
        type="text"
        placeholder="Name"
        name="name"
        required
        [(ngModel)]="register.handle"
      />
    </div>
    <div class="form-group">
      <input
        type="email"
        placeholder="Email Address"
        name="email"
        [(ngModel)]="register.email"
      />
      <small class="form-text"
        >This site uses Gravatar so if you want a profile image, use a Gravatar
        email</small
      >
    </div>
    <div class="form-group">
      <select
        class="form-control form-control-lg"
        name="question"
        [(ngModel)]="register.question"
      >
        <option value="0">* Select Security Question</option>
        <option value="Mother Maiden Name">What is your mother's maiden name?</option>
        <option value="First Pet Name">What was the name of your first pet?</option>
        <option value="Favorite Teacher Name" selected>
          What was the name of your favorite teacher?
        </option>
      </select>
      <small class="form-text text-muted"
        >This will help you recover your account.</small
      >
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control form-control-lg"
        placeholder="* Answer"
        name="answer"
        value="MyAnswer"
        [(ngModel)]="register.answer"
      />
      <small class="form-text text-muted"
        >Keep this answer secret</small
      >
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control form-control-lg"
        placeholder="* SSN"
        name="ssn"
        value="SSNumber"
        [(ngModel)]="register.ssn"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control form-control-lg"
        placeholder="* 3056667777"
        name="mobile"
        value="Phone Number"
        [(ngModel)]="register.phoneNo"
      />
      <small class="form-text text-muted"
        >Numeric digits only</small
      >
    </div>
    <div class="form-group">
      <input
        type="password"
        placeholder="Password"
        name="password"
        minLength="6"
        [(ngModel)]="register.password"
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        placeholder="Confirm Password"
        name="password2"
        minLength="6"
        [(ngModel)]="register.password2"
      />
    </div>
    <input type="submit" class="btn btn-primary" value="Register" />
  </form>
  <p class="my-1">
    Already have an account?
    <a [routerLink]="['/users/login']" target>Sign In</a>
  </p>
</section>
