<div class="create-transaction">
  <div class="container">
    <div class="row">
      <div class="col-md-8 m-auto">
        <a routerLink="/dashboard" class="btn btn-light"> Go Back </a>
        <h1 class="display-4 text-center">New Transfer</h1>
        <p class="lead text-center">
          All values marked with asterisk (*) are required
        </p>

        <form (ngSubmit)="createTransactionSubmit()">
          <small class="d-block pb-3">* Amount </small>
          <div class="form-group">
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="* 100"
              name="transactionAmount"
              value="mytransactionamount"
              required
              [(ngModel)]="transaction.transactionAmount"
            />
          </div>
          <div class="d-block invalid-feedback">{{ error.amount }}</div>
          <small class="d-block pb-3">* Transaction Type</small>
          <div class="form-group">
            <select
              class="form-control form-control-lg"
              name="transactionType"
              [(ngModel)]="transaction.transactionType"
            >
              <option value="0">* Select Transaction Type</option>
              <option value="Credit">Credit</option>
              <option value="Debit">Debit</option>
            </select>
          </div>
          <div class="d-block invalid-feedback">{{ error.type }}</div>
          <small class="d-block pb-3">* Select Beneficiary</small>
          <!-- <div class="form-group">
            <select
              class="form-control form-control-lg"
              name="type"
              [(ngModel)]="transaction.benId"
            >
              <option *ngFor="let b of profile.ben" [value]="b._id">{{b.beneficiaryId}}</option>

            </select>
          </div> -->
          <div class="form-group">
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Ex: 123ab456."
              name="beneficiaryId"
              value="benId"
              [(ngModel)]="transaction.beneficiaryId"
            />
          </div>
          <small class="d-block pb-3">* Your Bank Account ID</small>
          <div class="form-group">
            <select
              class="form-control form-control-lg"
              name="senderId"
              [(ngModel)]="transaction.senderId"
            >
              <option *ngFor="let b of banks" [value]="b.accountId">
                {{ b.label }}
              </option>
            </select>
          </div>
          <!-- <div class="form-group">
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Ex: 123ab456."
              name="senderId"
              value="bankId"
              [(ngModel)]="transaction.senderId"
            />
          </div> -->
          <small class="d-block pb-3">Reason</small>
          <div class="form-group">
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Rent, Retail, Savings, etc."
              name="reasonTransaction"
              value="Reason"
              [(ngModel)]="transaction.reasonTransaction"
            />
          </div>

          <div class="d-block invalid-feedback">{{ error.reason }}</div>

          <input type="submit" class="btn btn-info btn-block mt-4" />
        </form>
      </div>
    </div>
  </div>
</div>
